* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.formContainer{
    margin:30px;
}
.customInput {
	display: flex;
	position: relative;
    flex-direction: column;
}
input[type=submit]{
    margin: 20px auto;
}